<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<div th:fragment="header">
	<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
		<button class="navbar-toggler" type="button" 
		data-toggle="collapse" 
		data-target="#navbarToggleDemo03"
		data-controls="navbarToggleDemo03"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		
		<a class="navbar-brand" href="/">Shop</a>

		<div>
			<ul>
				<li><a href="">상품등록</a></li>

				<li><a href="">상품등록</a></li>

				<li><a href="">상품등록</a></li>

				<li><a href="">상품등록</a></li>

				<li><a href="">상품등록</a></li>

				<li><a href="">상품등록</a></li>

			</ul>

			<form>
				<input>
				<button></button>
			</form>

		</div>


	</nav>

</div>
</html>